.navigator-pane {
    min-width: 15vw;
    max-width: 15vw;
    border-right: 2px solid white;
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
}

.nav-link-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nav-tree {
    margin: 0;
}

.search-bar {
    width: calc(100% - 10px);
    margin-bottom: 10px;
}

.highlight-red {
    background-color: red;
}

.highlight-orange {
    background-color: orange;
}