.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  font-size: 5vmin;
  color: white;
  border-bottom: 2px solid;
  padding: 1vh 1vw;
}

.App-body {
  height: calc(100vh - 5vmin - 2vh - 2vh);  /* offset app-header */
  display: flex;
}

.App-link {
  color: #61dafb;
}
